{% extends "base.html" %}
{% load static %}

{% block judul %}
  {{ judul }}
{% endblock %}

{% block isi %}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" style="height:600px">
      <img src="{% static 'gambar\sekolahan depan.jpg' %}" style="background-size:cover;background-position:center;overflow:hidden">
      <div class="carousel-caption d-md-block">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="d-flex justify-content-center align-items-center">
    <h1>SMK ISLAM AL-FIKRI</h1>
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <iframe width="600px" height="300px" src="https://www.youtube.com/embed/8LPI838IsWM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="progress" style="margin-top:20px">
    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

  <div class="d-flex justify-content-center align-items-center text-dark">
    <h1>J U R U S A N</h1>
  </div>

  <div class="row" style="margin-left:20px;margin-right:20px">
    <div class="col-md" style="margin-bottom:10px;margin-top:10px">
      <div class="card text-right">
        <img src="{% static 'gambar\komputer.jpg' %}" class="card-img-top" style="height:360px;overflow:hidden">
        <div class="card-body">
          <h5 class="card-title">Rekayasa Perangkat Lunak</h5>
          <p class="card-text">
            Hanya sedikit 'tik-tik-klik' apapun dapat diorganisir dengan indah, bak penyihir tanpa mantra
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md" style="margin-top:10px;margin-bottom:10px">
      <div class="card text-left">
        <img src="{% static 'gambar\bisnis.jpg' %}" class="card-img-top" style="height:360px;overflow:hidden">
        <div class="card-body">
          <h5 class="card-title">Bisnis</h5>
          <p class="card-text">
            Membuat perencanaan dan bekerja sama sampai eksekusi sempurna tanpa merugikan pihak manapun untuk menuju kesuksesan
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

  <div class="progress" style="margin-top:20px">
    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

  <div class="d-flex justify-content-center align-items-center text-dark">
    <h1>F A S I L I T A S</h1>
  </div>

  <div class="row" style="margin-left:20px;margin-right:20px">
    <div class="col-md-3 col-6">
      <div class="card text-white bg-secondary" style="width: 18rem;margin-top:10px;margin-bottom:10px">
        <div class="card-body">
          <h3 class="card-title">Laboratorium</h3>
          <p class="card-text">
            Peralatan Laboratorium yang canggih, sebagai fasilitas siswa untuk melakukan berbagai eksperimen
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="card text-white bg-warning" style="width: 18rem;margin-top:10px;margin-bottom:10px">
        <div class="card-body">
          <h3 class="card-title">WiFi</h3>
          <p class="card-text">
            Internet yang cepat hingga 20Mbps tersedia gratis untuk membantu proses belajar-mengajar dan hiburan siswa
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="card text-white bg-danger" style="width: 18rem;margin-top:10px;margin-bottom:10px">
        <div class="card-body">
          <h3 class="card-title">Lapangan</h3>
          <p class="card-text">
            Lapangan yang luas untuk kegiatan olahraga juga kegiatan lainnya, sebagai fasilitas siswa baik dalam belajar maupun bermain
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="card text-white bg-dark" style="width: 18rem;margin-top:10px;margin-bottom:10px">
        <div class="card-body">
          <h3 class="card-title">Ekstrakurikuler</h3>
          <p class="card-text">
            Kegiatan ekstra agar siswa lebih aktif dalam mengembangkan minatnya serta bekerja sama mencapai prestasi lebih
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
