{% extends "base.html" %}
{% load static %}

{% block judul %}
  {{ judul }}
{% endblock %}

{% block isi %}
<div class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" style="max-height:450px">
      <img class="img-fluid" src="{% static 'gambar\sekolahan depan.jpg' %}" style="overflow:hidden">
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="jumbotron" style="margin-top:-35px;margin-bottom:-40px">
    <h1 class="display-4 d-flex justify-content-center">{{ judul }}</h1>
    <p class="lead d-flex justify-content-center">
      {{ deskripsi_sekolah }}
    </p>
  </div>

  <div class="d-flex justify-content-center align-items-center" style="margin-bottom:50px">
    <div class="embed-responsive embed-responsive-4by3" style="max-height:800px;max-width:600px">
      <iframe src="https://www.youtube.com/embed/8LPI838IsWM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="row" style="padding-top:50px;padding-bottom:50px;background-color:#7FFFD4">
    <div class="col-md col-12" style="max-height:475px">
      <div class="card">
        <div class="card-body">
          <img src="{% static "gambar\komputer.jpg" %}" class="img-fluid" style="max-height:400px;width:auto">
        </div>
      </div>
    </div>
    <div class="col-md col-12" style="max-height:475px">
      <h1>Rekayasa Perangkat Lunak</h1>
      <br>
      <p style="font-size:20px">{{ deskripsi_rpl }}</p>
    </div>
  </div>

  <div class="row" style="padding-top:50px;padding-bottom:50px;background-color:#E9967A">
    <div class="col-md col-12" style="max-height:475px">
      <h1>Bisnis</h1>
      <br>
      <p style="font-size:20px">{{ deskripsi_bisnis }}</p>
    </div>
    <div class="col-md col-12" style="max-height:475px">
      <div class="card">
        <div class="card-body">
          <img src="{% static "gambar\bisnis.jpg" %}" class="img-fluid" style="max-height:400px;width:auto">
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row" style="margin-top:50px">
      <div class="col-md col-12" style="margin-bottom:20px">
        <div class="card text-white bg-secondary h-100">
          <svg xmlns="http://www.w3.org/2000/svg" style="max-height:72px;width:auto;margin-top:10px" fill="currentColor" class="bi bi-wrench card-img-top" viewBox="0 0 16 16">
            <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019l.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>
          </svg>
          <div class="card-body">
            <h3 class="card-title">Laboratorium</h3>
            <p class="card-text">
              {{ deskripsi_lab }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md col-12" style="margin-bottom:20px">
        <div class="card text-white bg-warning h-100">
          <svg xmlns="http://www.w3.org/2000/svg" style="max-height:72px;width:auto;margin-top:10px" fill="currentColor" class="bi bi-wifi card-img-top" viewBox="0 0 16 16">
            <path d="M15.385 6.115a.485.485 0 0 0-.048-.736A12.443 12.443 0 0 0 8 3 12.44 12.44 0 0 0 .663 5.379a.485.485 0 0 0-.048.736.518.518 0 0 0 .668.05A11.448 11.448 0 0 1 8 4c2.507 0 4.827.802 6.717 2.164.204.148.489.13.668-.049z"/>
            <path d="M13.229 8.271c.216-.216.194-.578-.063-.745A9.456 9.456 0 0 0 8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065A8.46 8.46 0 0 1 8 7a8.46 8.46 0 0 1 4.577 1.336c.205.132.48.108.652-.065zm-2.183 2.183c.226-.226.185-.605-.1-.75A6.472 6.472 0 0 0 8 9c-1.06 0-2.062.254-2.946.704-.285.145-.326.524-.1.75l.015.015c.16.16.408.19.611.09A5.478 5.478 0 0 1 8 10c.868 0 1.69.201 2.42.56.203.1.45.07.611-.091l.015-.015zM9.06 12.44c.196-.196.198-.52-.04-.66A1.99 1.99 0 0 0 8 11.5a1.99 1.99 0 0 0-1.02.28c-.238.14-.236.464-.04.66l.706.706a.5.5 0 0 0 .708 0l.707-.707z"/>
          </svg>
          <div class="card-body">
            <h3 class="card-title">WiFi</h3>
            <p class="card-text">
              {{ deskripsi_wifi }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md col-12" style="margin-bottom:20px">
        <div class="card text-white bg-danger h-100">
          <div class="d-flex justify-content-center">
            <img src="{% static "ikon\field.svg" %}" style="max-height:72px;width:auto;margin-top:10px">
          </div>
          <div class="card-body">
            <h3 class="card-title">Lapangan</h3>
            <p class="card-text">
              {{ deskripsi_lapangan }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md col-12" style="margin-bottom:20px">
        <div class="card text-white bg-dark h-100">
          <svg xmlns="http://www.w3.org/2000/svg" style="max-height:72px;width:auto;margin-top:10px" fill="currentColor" class="bi bi-award card-img-top" viewBox="0 0 16 16">
            <path d="M9.669.864L8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193l.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z"/>
            <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
          </svg>
          <div class="card-body">
            <h3 class="card-title">Ekstrakurikuler</h3>
            <p class="card-text">
              {{ deskripsi_ekskul }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
