{% extends "base.html" %}
{% load static %}

{% block judul %}
  {{ judul }}
{% endblock %}

{% block isi %}

<div class="fluid_container">

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="width:100%;height:512px;overflow:hidden">
        <img src="{% static 'gambar\sekolahan depan.jpg' %}" style="margin-top:-125px">
        <div class="carousel-caption d-md-block">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <h1>SMK ISLAM AL-FIKRI</h1>
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <iframe width="65%" height="500px" src="https://www.youtube.com/embed/8LPI838IsWM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="progress" style="margin-top:20px">
    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

  <div class="d-flex justify-content-center align-items-center text-dark">
    <h1>J U R U S A N</h1>
  </div>

  <div class="row" style="margin-left:20px;margin-right:20px">
    <div class="col-md" style="margin-bottom:10px;margin-top:10px">
      <div class="card text-right">
        <img class="img-fluid" src="{% static 'gambar\komputer.jpg' %}" class="card-img-top" style="height:350px;overflow:hidden">
        <div class="card-body">
          <h5 class="card-title">Rekayasa Perangkat Lunak</h5>
          <p class="card-text">
            Hanya sedikit 'tik-tik-klik' apapun dapat diorganisir dengan indah, bak penyihir tanpa mantra
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card text-left" style="margin-top:10px;margin-bottom:10px">
        <img class="img-fluid" src="{% static 'gambar\bisnis.jpg' %}" class="card-img-top" style="height:350px;overflow:hidden">
        <div class="card-body">
          <h5 class="card-title">Bisnis</h5>
          <p class="card-text">
            Membuat perencanaan dan bekerja sama sampai eksekusi sempurna tanpa merugikan pihak manapun untuk menuju kesuksesan
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

  <div class="progress" style="margin-top:20px">
    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

  <div class="d-flex justify-content-center align-items-center text-dark">
    <h1>F A S I L I T A S</h1>
  </div>

  <div class="row" style="margin-left:20px;margin-right:20px">
    <div class="col-md-3 col-sm-6">
      <div class="card text-white bg-secondary" style="width: 18rem;margin-top:10px;margin-bottom:10px">
        <div class="card-body">
          <h3 class="card-title">Laboratorium</h3>
          <p class="card-text">
            Peralatan Laboratorium yang canggih, sebagai fasilitas siswa untuk melakukan berbagai eksperimen
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card text-white bg-warning" style="width: 18rem;margin-top:10px;margin-bottom:10px">
        <div class="card-body">
          <h3 class="card-title">WiFi</h3>
          <p class="card-text">
            Internet yang cepat hingga 20Mbps tersedia gratis untuk membantu proses belajar-mengajar dan hiburan siswa
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card text-white bg-danger" style="width: 18rem;margin-top:10px;margin-bottom:10px">
        <div class="card-body">
          <h3 class="card-title">Lapangan</h3>
          <p class="card-text">
            Lapangan yang luas untuk kegiatan olahraga juga kegiatan lainnya, sebagai fasilitas siswa baik dalam belajar maupun bermain
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card text-white bg-dark" style="width: 18rem;margin-top:10px;margin-bottom:10px">
        <div class="card-body">
          <h3 class="card-title">Ekstrakurikuler</h3>
          <p class="card-text">
            Kegiatan ekstra agar siswa lebih aktif dalam mengembangkan minatnya serta bekerja sama mencapai prestasi lebih
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-success" style="margin-top:27px">
    <div class="row" style="margin-left:20px;margin-right:20px">
      <div class="col-md-5 offset-md-1 text-light" style="margin-top:60px">
        <h3>Alamat Kontak</h3><br>
        <h6>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
          </svg>
          &emsp;Jl. Apel 2 E16/30 RT 04 RW 17
        </h6>
        <h6>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
          </svg>
          &emsp;082113336186
        </h6>
        <h6>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
          </svg>
          &emsp;082113336186
        </h6>
      </div>
      <div class="col-md-6" style="margin-top:50px;margin-bottom:50px">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8391.21544192856!2d106.54360178845867!3d-6.994399770153454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNsKwNTknNDQuNCJTIDEwNsKwMzInNDAuNCJF!5e0!3m2!1sen!2sid!4v1612872182731!5m2!1sen!2sid" width="400" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
  </div>

  <footer class="footer bg-dark">
    <div class="container text-center text-white">
      copyright © 2021 ricko rinaldy
    </div>
  </footer>
</div>
{% endblock %}
