{% extends "base.html" %}
{% load static %}

{% block judul %}
  Profil - SMK Islam Al-Fikri
{% endblock %}

{% block isi %}
<div class="container-fluid">
  <br>
  <div class="row">
    <div class="mx-auto">
      <figure class="text-center">
        <figcaption class="figure-caption"><h3 class="text-dark">Kepala Sekolah</h3></figcaption>
        <img src="{% static "gambar\profile.png" %}" class="figure-img img-fluid">
        <figcaption class="figure-caption"><h6 class="text-dark">Promag Softergen S. Man</h6></figcaption>
      </figure>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col mx-auto">
      <figure class="text-center">
        <figcaption class="figure-caption"><h3 class="text-dark">Kepala Sekolah</h3></figcaption>
        <img src="{% static "gambar\profile.png" %}" class="figure-img img-fluid">
        <figcaption class="figure-caption"><h6 class="text-dark">Promag Softergen S. Man</h6></figcaption>
      </figure>
    </div>
    <div class="col mx-auto">
      <figure class="text-center">
        <figcaption class="figure-caption"><h3 class="text-dark">Kepala Sekolah</h3></figcaption>
        <img src="{% static "gambar\profile.png" %}" class="figure-img img-fluid">
        <figcaption class="figure-caption"><h6 class="text-dark">Promag Softergen S. Man</h6></figcaption>
      </figure>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col mx-auto">
      <figure class="text-center">
        <figcaption class="figure-caption"><h3 class="text-dark">Kepala Sekolah</h3></figcaption>
        <img src="{% static "gambar\profile.png" %}" class="figure-img img-fluid">
        <figcaption class="figure-caption"><h6 class="text-dark">Promag Softergen S. Man</h6></figcaption>
      </figure>
    </div>
    <div class="col mx-auto">
      <figure class="text-center">
        <figcaption class="figure-caption"><h3 class="text-dark">Kepala Sekolah</h3></figcaption>
        <img src="{% static "gambar\profile.png" %}" class="figure-img img-fluid">
        <figcaption class="figure-caption"><h6 class="text-dark">Promag Softergen S. Man</h6></figcaption>
      </figure>
    </div>
    <div class="col mx-auto">
      <figure class="text-center">
        <figcaption class="figure-caption"><h3 class="text-dark">Kepala Sekolah</h3></figcaption>
        <img src="{% static "gambar\profile.png" %}" class="figure-img img-fluid">
        <figcaption class="figure-caption"><h6 class="text-dark">Promag Softergen S. Man</h6></figcaption>
      </figure>
    </div>
  </div>
  <br>
</div>
{% endblock %}
