{% extends "base.html" %}
{% load static %}

{% block judul %}
  Visi & Misi - SMK Islam Al-Fikri
{% endblock %}

{% block ext %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Arvo&family=Kanit:wght@600;900&display=swap" rel="stylesheet">
  <style media="screen">
    h1 {
      font-family: 'Kanit', sans-serif;
    }
    p {
      font-family: 'Arvo', serif;
    }
  </style>
{% endblock %}

{% block isi %}
  <div class="container-fluid">
    <div class="row jumbotron" style="background-color:#F0F8FF">
      <div class="mx-auto">
        <h1 class="display-4">Visi</h1>
        <br>
        <ol style="margin-left:-27px">
          <li>Membangun..</li>
          <li>Menjunjung..</li>
          <li>Menghidupkan...</li>
        </ol>
        <br><br>
        <h1 class="display-4">Misi</h1>
        <br>
        <ol style="margin-left:-27px">
          <li>Membangun..</li>
          <li>Menjunjung..</li>
          <li>Menghidupkan...</li>
        </ol>
      </div>
    </div>
  </div>
{% endblock %}
